html{
    height: 100%;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2014/06/23/20/58/lake-375609_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header{
    color: green;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.header p{
    justify-content: center;
    color:green;
    font-weight: 900;
    font-size: 18px;
}

form {
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    color: red;
    font-weight: bold;
    font-size: 20px;
}
legend{
    text-align: center;
}

input[type=number],
[type="radio"] {
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: grey;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.356);
}
